.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

html, body {
    height: 100%; 
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #f5d04e;
    margin: 0;
    min-height: 100vh;
}
.card-container{
    display: flex; 
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    text-align: left;
    overflow-wrap: break-word;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; 
    padding: 1.5rem;
    margin: 0 auto; 
    box-sizing: border-box;
}


button{
    background-color: #f5d04e;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
}

footer{
    position: fixed; 
    left: 0; bottom: 0;
    width: 100%; 
    background-color: #f8f6f6;
    color: rgb(5, 5, 5);
    text-align: center;
}