@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

html, body {
    height: 100%; 
    margin: 0;
}

body{
    font-family: "Figtree", sans-serif;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #f5d04e;
    margin: 0;
    min-height: 100vh;
}
.card-container{
    display: flex; 
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    text-align: left;
    overflow-wrap: break-word;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 390px; 
    padding: 1.5rem;
    margin: 0 auto; 
    box-sizing: border-box;
    gap: 20px;
    box-shadow: 8px 8px 0px black;
}
h2{
    font-weight: 800;
}
.date{
    font-size: 0.9rem;
    font-weight: 400;
}
.description{
    font-size: 1rem;
    line-height: 28px;
    color:#6c6e6f;
    font-weight: 400;
}
.hero-img{
    width: 100%;
    border-radius: 15px;
}

.avatar{
    width: 40px;
    padding-right: 20px;
}

.avatar-container{
    display: flex;
    align-items:center;
    font-weight: 800;
}

button{
    background-color: #f5d04e;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-family: "Figtree", sans-serif;
    font-weight: 800;
}

footer{
    position: fixed; 
    left: 0; bottom: 0;
    width: 100%; 
    background-color: #f8f6f6;
    color: rgb(5, 5, 5);
    text-align: center;
}